html,body{
	margin: 0px;
	font-family: 'Bitter';font-size: 22px;
}


.be-color{

	background-color: #15959F;

}

.white{
	color: #FFFCF0;
}

.red{
	color: #DA071F
}

.top-space{
	margin-top:1em;
}

.large-padding{
	padding: 10px 8px;
}

a,a:visited{
	color: inherit !important;
	text-decoration: none;
}

#logo{
	font-size: 1.2em;
}

.no-margin{
	margin: 0px;
}

.field{
	margin-top:1em;
}

.form-control{
	border: none;
	border-bottom: 1px solid;
	outline: none;
	width:10px 0px;
	font-size: 1.2em;
}

.btn-guadar{
	background-color: inherit;
	border: none;
	outline: none;
	text-transform: uppercase;
	cursor:pointer;
	font-weight: bold;
	font-size:1.2em;
	padding: 10px 12px;
}

.be-errormessage{
	font-size:1.2em;
	font-weight: bold;
}

.be-colorbtn{
	background-color: #04BFBF;
	font-weight: bold;
	font-size:1.2em;
}





